*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}
body{ 
  background-color: black;
}
/* Heading */
.heading-container{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-container h1{
  font-size: 52px;
  color: white;
  background: linear-gradient(to right, red, blue);
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  text-shadow: 0 0 60px rgba(255, 0, 0, 0.457);
  animation: anime 0.2s infinite alternate;
}
@keyframes anime {
  100%{
    text-shadow: 0 0 60px rgba(0, 0, 255, 0.699);
  }
}
.container{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator{
    border: 1px solid #010102;
    padding: 20px;
    border-radius: 16px;
    background-color:darkgrey;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
#display{
    border: none;
    width: 335px;
    padding: 14px;
    margin-bottom: 30px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
}
.button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 5%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    background-color: black;
}
.equal-button{
  background-color: red;
}